body {
    font-family:arial;
    margin:20px;
}

h2 {
    padding:0;
    margin:0;
}

.data-table {
    border-collapse:collapse;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2
}

.data-table td, th {
    border:thin black solid;
    padding:4px;
    font-size:.85em;
}

.data-table th {
    background:#ccc;
}

.data-table tr.current {
    background: #e6dda9;
    /*border:thick black solid;*/
}

.data-table .date-cell {
    white-space:nowrap;
}

ul.award-id-list {
    list-style-type:none;
    margin:0;
    padding:0;
}

.pub_date {
    white-space: nowrap;
}

ul.award-id-list li {
}

#page-date {
    position:absolute;
    top:5px;
    right:20px;
    font-size:.75em;
}

#navbar {
    position:absolute;
    top:35px;
    right:20px;
}

.navbar-divider {
    padding: 0 7px;
}

#about-link {
    margin-bottom:20px;
}

ul#future-work li {
    margin-bottom:8px;
}

/* Home page rules */

ul#slice-list {
    list-style-type: none;
}

ul#slice-list>li {
    width: 700px;
    margin:0;
    padding:0;
}

div.slice-summary {
    /*border:blue solid thin;*/
    padding:10px;
    line-height:1.5em;
}

div.slice-summary .header {
    margin-left:auto;
    text-align:center;
    font-size:1.3em;
    font-weight:bold;
    background:lightgray;
    padding:5px 0 3px;
    margin-bottom:10px;
}

div.slice-summary .end {
    margin-left:20px;
}

table.slice-table {
    width:100%;
}
td.link-cell {
    white-space:nobr;
    text-align:center;
}

ul.nav-links {
    text-align:center;
    padding:0;
}

ul.nav-links>li {
    display:inline-block;
}

#all-records-stats {
/*
    float:left;
*/
}